<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DANFE</title>
    <style type="text/css">
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed, 
        figure, figcaption, footer, header, hgroup, 
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        article, aside, details, figcaption, figure, 
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            line-height: 1;
        }
        ol, ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        :root {
            --A4-width-in-px: 2480;
            --A4-height-in-px: 4508;
            --A4-width-in-cm: 21;
            --A4-height-in-cm: 29.7;
            --padding: 5px;
        }

        * {
            box-sizing: border-box;
        }

        .header {
            font-weight: bold;
        }

        .label {
            margin-bottom: 1px;
        }

        .text-xs {
            font-size: 20px;
        }

        .text-sm {
            font-size: 24px;
        }

        .text-base {
            font-size: 30px;
        }

        .text-lg {
            font-size: 36px;
        }

        .text-center {
            text-align: center;
        }

        .font-bold {
            font-weight: bold;
        }

        .text-static {
            position: absolute;
            bottom: 10px;
        }

        .text-static-right {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }

        .container {
            width: calc(var(--A4-width-in-px) * 1px);
            height: calc(var(--A4-height-in-px) * 1px);
        }

        #canhoto .descricao {
            padding: var(--padding);
            border-left: 1px solid black;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((16.10 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((0.42 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        #canhoto .nfe-numero-serie {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((1.70 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((4.45 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((16.35 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((0.42 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #canhoto .data-recebimento {
            padding: var(--padding);
            border-left: 1px solid black;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((4.10 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((1.27 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #canhoto .identificacao-assinatura-recebedor {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((12 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((4.35 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((1.27 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        .separator {
            border-bottom: 1px dashed black;
            width: calc(((20.57 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            height: 1px;
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((2.34 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #dados-NFe .quadro-identificacao-emitente {
            padding: 20px;
            border-left: 1px solid black;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((3.92 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((10 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((2.54 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        #dados-NFe .quadro-descricao-danfe {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((3.92 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((2.54 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((10.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((2.54 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        #dados-NFe .quadro-codigo-de-barras-chave {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((1.48 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((8 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((12.79 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((2.54 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #dados-NFe .codigo-barras-chave {
            border-left: 1px solid black;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((1 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((7.20 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            position: relative;
        }

        #dados-NFe .chave-acesso {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid transparent;
            height: calc(((0.96 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((8 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((12.79 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((4.02 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #dados-NFe .quadro-tipo-operacao {}

        #dados-NFe .quadro-numero-serie-nfe {}

        #dados-NFe .quadro-codigo-barras-dados {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((1.48 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((8 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((12.79 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((4.98 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #dados-NFe .codigo-barras-dados {}

        #dados-NFe .natureza-operacao {
            padding: var(--padding);
            border-left: 1px solid black;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((12.54 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((6.46 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #dados-NFe .dados-nfe {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((8 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((12.79 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((6.46 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #dados-NFe .inscricao-estadual-emitente {
            padding: var(--padding);
            border-left: 1px solid black;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((6.86 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((7.31 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #dados-NFe .inscricao-estadual-st-emitente {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((6.86 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((7.11 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((7.31 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #dados-NFe .cnpj-emitente {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((6.82 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((13.97 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((7.31 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #destinatario .razao-social {
            padding: var(--padding);
            border-left: 1px solid black;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((12.32 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((8.58 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #destinatario .cnpj {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((5.32 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((12.57 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((8.58 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #destinatario .data-emissao {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((2.92 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((17.89 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((8.58 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #destinatario .endereco {
            padding: var(--padding);
            border-left: 1px solid black;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((10.16 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((9.43 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #destinatario .bairro {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((4.83 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((10.41 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((9.43 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #destinatario .cep {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((2.65 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((15.24 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((9.43 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #destinatario .data-entrada-saida {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((2.92 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((17.89 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((9.43 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #destinatario .municipio {
            padding: var(--padding);
            border-left: 1px solid black;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((7.11 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((10.28 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #destinatario .fone-fax {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((4.06 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((7.36 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((10.28 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #destinatario .uf {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((1.14 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((11.42 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((10.28 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #destinatario .inscricao-estadual {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((5.33 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((12.56 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((10.28 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #destinatario .hora-entrada-saida {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((2.92 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((17.89 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((10.28 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #duplicatas .fatura {
            padding: var(--padding);
            border-left: 1px solid black;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((20.57 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((11.51 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #calculo-imposto .base-calculo-icms {
            padding: var(--padding);
            border-left: 1px solid black;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((4.06 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((12.78 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #calculo-imposto .valor-icms {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((4.06 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((4.31 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((12.78 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #calculo-imposto .base-calculo-icms-st {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((4.06 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((8.37 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((12.78 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #calculo-imposto .valor-icms-st {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((4.06 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((12.43 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((12.78 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #calculo-imposto .valor-total-dos-produtos {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((4.32 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((16.49 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((12.78 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #calculo-imposto .valor-frete {
            padding: var(--padding);
            border-left: 1px solid black;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((3.30 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((13.63 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #calculo-imposto .valor-seguro {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((3.30 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((3.55 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((13.63 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #calculo-imposto .desconto {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((3.30 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((6.85 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((13.63 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #calculo-imposto .outras-despesas-acessorias {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((3.30 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((10.15 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((13.63 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #calculo-imposto .valor-ipi {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((3.30 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((13.45 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((13.63 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #calculo-imposto .valor-total-nota {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((4.06 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((16.75 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((13.63 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #transportador .razao-social {
            padding: var(--padding);
            border-left: 1px solid black;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((9.02 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((14.90 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #transportador .frete-por-conta {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((2.79 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((9.27 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((14.90 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #transportador .codigo-antt {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((1.78 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((12.06 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((14.90 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #transportador .placa-veiculo {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((2.29 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((13.84 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((14.90 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #transportador .uf-veiculo {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((0.76 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((16.13 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((14.90 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #transportador .cnpj-cpf {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((3.94 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((16.89 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((14.90 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #transportador .endereco {
            padding: var(--padding);
            border-left: 1px solid black;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((9.02 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((15.75 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #transportador .municipio {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((6.86 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((9.27 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((15.75 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #transportador .uf {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((0.76 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((16.13 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((15.75 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #transportador .inscricao-estadual {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((3.94 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((16.89 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((15.75 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #transportador .quantidade-volumes {
            padding: var(--padding);
            border-left: 1px solid black;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((2.92 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((16.60 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #transportador .especie {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((3.05 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((3.17 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((16.60 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #transportador .marca {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((3.05 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((6.22 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((16.60 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #transportador .numeracao {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((4.83 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((9.27 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((16.60 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #transportador .peso-bruto {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((3.43 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((14.10 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((16.60 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #transportador .peso-liquido {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((3.30 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((17.53 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((16.60 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #dados-produtos .quadro-dados-produtos-servicos {
            padding: var(--padding);
            border-left: 1px solid black;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((6.77 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((20.57 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((17.87 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #calculo-issqn .inscricao-municipal {
            padding: var(--padding);
            border-left: 1px solid black;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((5.08 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((25.06 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #calculo-issqn .valor-total-servicos {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((5.08 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((5.33 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((25.06 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #calculo-issqn .base-calculo-issqn {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((5.08 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((10.41 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((25.06 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #calculo-issqn .valor-issqn {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((0.85 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((5.33 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((15.49 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((25.06 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #dados-adicionais .informacoes-complementares {
            padding: var(--padding);
            border-left: 1px solid black;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((3.07 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((12.95 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((26.33 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        #reservado-fisco .reservado-fisco {
            padding: var(--padding);
            border-left: 1px solid transparent;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            height: calc(((3.07 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            width: calc(((7.62 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            left: calc(((13.17 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((26.33 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        h3#destinatario,
        h3#duplicatas,
        h3#calculo-imposto,
        h3#transportador,
        h3#dados-produtos,
        h3#calculo-issqn,
        h3#dados-adicionais {
            font-size: 28px;
        }

        h3#destinatario {
            height: calc(((0.42 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((8.38 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        h3#duplicatas {
            height: calc(((0.42 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((11.31 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        h3#calculo-imposto {
            height: calc(((0.42 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((12.58 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        h3#transportador {
            height: calc(((0.42 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((14.70 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        h3#dados-produtos {
            height: calc(((0.42 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((17.67 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        h3#calculo-issqn {
            height: calc(((0.42 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((24.86 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }

        h3#dados-adicionais {
            height: calc(((0.42 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            left: calc(((0.25 * var(--A4-width-in-px)) / var(--A4-width-in-cm)) * 1px);
            top: calc(((26.13 * var(--A4-height-in-px)) / var(--A4-height-in-cm)) * 1px);
            position: absolute;
        }
    </section>
    </style>
</head>
<body class="container">
    <section id="canhoto">
            <div class="descricao">
                <p class="text-sm text-center">Recebemos de {{emitente.nome}} os produtos e/ou serviços constantes na NFe indicada ao lado.</p>
                <p class="text-sm text-center">Emissão: {{nfe.dataHoraEmissao}} Dest/Reme: {{destinatario.nome}} Valor Total:
                    {{nfe.total}} </p>
            </div>

            <div class="data-recebimento">
                <p class="text-sm label">DATA DO RECEBIMENTO</p>
            </div>

            <div class="identificacao-assinatura-recebedor">
                <p class="text-sm label">IDENTIFICAÇÃO E ASSINATURA DO RECEBEDOR</p>
            </div>

        <div class="nfe-numero-serie">
            <p class="text-lg text-center font-bold">NF-e</p>
            <p class="text-lg text-center font-bold" style="margin: 20px;">N° {{nfe.numero}}</p>
            <p class="text-lg text-center font-bold">Série {{nfe.serie}}</p>
        </div>
    </section>

    <div class="separator"></div>

    <section id="dados-NFe">
        <div class="quadro-identificacao-emitente">
            <p class="font-bold" style="font-size: 48px;">{{emitente.nome}}</p>
            <div>
                <p class="text-base">{{emitente.endereco.logradouro}}, {{emitente.endereco.numero}}</p>
                <p class="text-base" style="margin: 20px 0;">{{emitente.endereco.bairro}} - {{emitente.endereco.municipio}} -
                    {{emitente.endereco.uf}}</p>
                <p class="text-base">CEP: {{emitente.endereco.cep}}</p>
            </div>
            <div>
                <p class="text-base" style="margin-bottom: 20px;">Fone: {{emitente.fone}}</p>
                <p class="text-base">Email: {{emitente.email}}</p>
            </div>
        </div>
        <div class="quadro-descricao-danfe">
            <div>
            <p class="text-lg text-center font-bold">DANFE</p>
            <p class="text-sm text-center">Documento Auxiliar da Nota Fiscal Eletrônica</p>
            </div>
            <div style="width: 100%; display: flex; justify-content: space-around; align-items: center;">
                <div style="border: 1px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 70px;
                    width: 70px;"
                >
                    <p class="text-lg font-bold">{{nfe.type}}</p>
                </div>
                <div>
                    <p class="text-base">0 - ENTRADA</p>
                    <p class="text-base">1 - SAÍDA</p>
                </div>
            </div>
            <div>
                <p class="text-base font-bold">N° {{nfe.numero}}</p>
                <p class="text-base font-bold" style="margin: 10px 0;">SÉRIE {{nfe.serie}}</p>
                <p class="text-base font-bold">Folha {{page.current}}/{{page.total}}</p>
            </div>
        </div>
        <div class="quadro-codigo-de-barras-chave">
            <img class="codigo-barras-chave" src="" alt="" />
        </div>
        <div class="chave-acesso">
            <p class="text-sm label">CHAVE DE ACESSO</p>
            <p class="text-base font-bold text-static">{{nfe.key}}</p>
        </div>
        <div class="quadro-tipo-operacao"></div>
        <div class="quadro-numero-serie-nfe"></div>
        <div class="quadro-codigo-barras-dados">
            <p class="text-base text-center">Consulta de autenticidade no portal nacional da NF-e
                www.nfe.fazenda.gov.br/portal ou no site da Sefaz autorizadora</p>
        </div>
        <div class="codigo-barras-dados"></div>
        <div class="natureza-operacao">
            <p class="text-sm label">NATUREZA DA OPERAÇÃO</p>
            <p class="text-lg text-static">{{nfe.naturezaOperacao}}</p>
        </div>
        <div class="dados-nfe">
            <p class="text-sm label">PROTOCOLO DE AUTORIZAÇÃO DE USO</p>
            <p class="text-lg text-static font-bold">{{nfe.protocolo}}</p>
        </div>
        <div class="inscricao-estadual-emitente">
            <p class="text-sm label">INSCRIÇÃO ESTADUAL</p>
            <p class="text-lg text-static">{{emitente.ie}}</p>
        </div>
        <div class="inscricao-estadual-st-emitente">
            <p class="text-sm label">INSCRIÇÃO ESTADUAL DO SUBSTITUTO TRIBUTÁRIO</p>
            <p class="text-lg text-static">{{emitente.ieSubstituicao}}</p>
        </div>
        <div class="cnpj-emitente">
            <p class="text-sm label">CNPJ</p>
            <p class="text-lg text-static">{{emitente.cnpj}}</p>
        </div>
    </section>

    <h3 id="destinatario" class="font-bold">DESTINATÁRIO/REMETENTE</h3>
    <section id="destinatario">
        <div class="razao-social">
            <p class="text-sm label">NOME/RAZÃO SOCIAL</p>
            <p class="text-lg text-static">{{destinatario.nome}}</p>
        </div>
        <div class="cnpj">
            <p class="text-sm label">CNPJ/CPF</p>
            <p class="text-lg text-static">{{destinatario.documento}}</p>
        </div>
        <div class="data-emissao">
            <p class="text-sm label">DATA DA EMISSÃO</p>
            <p class="text-lg text-static">{{nfe.dataHoraEmissao}}</p>
        </div>
        <div class="endereco">
            <p class="text-sm label">ENDEREÇO</p>
            <p class="text-lg text-static">{{destinatario.endereco.logradouro}}</p>
        </div>
        <div class="bairro">
            <p class="text-sm label">BAIRRO/DISTRITO</p>
            <p class="text-lg text-static">{{destinatario.endereco.bairro}}</p>
        </div>
        <div class="cep">
            <p class="text-sm label">CEP</p>
            <p class="text-lg text-static">{{destinatario.endereco.cep}}</p>
        </div>
        <div class="data-entrada-saida">
            <p class="text-sm label">DATA DA SAÍDA</p>
            <p class="text-lg text-static">{{nfe.dataEntradaSaida}}</p>
        </div>
        <div class="municipio">
            <p class="text-sm label">MUNICÍPIO</p>
            <p class="text-lg text-static">{{destinatario.endereco.municipio}}</p>
        </div>
        <div class="fone-fax">
            <p class="text-sm label">TELEFONE/FAX</p>
            <p class="text-lg text-static">{{destinatario.fone}}</p>
        </div>
        <div class="uf">
            <p class="text-sm label">UF</p>
            <p class="text-lg text-static">{{destinatario.endereco.uf}}</p>
        </div>
        <div class="inscricao-estadual">
            <p class="text-sm label">INSCRIÇÃO ESTADUAL</p>
            <p class="text-lg text-static">{{destinatario.ie}}</p>
        </div>
        <div class="hora-entrada-saida">
            <p class="text-sm label">HORA DA SAÍDA</p>
            <p class="text-lg text-static">{{nfe.horaEntradaSaida}}</p>
        </div>
    </section>

    <h3 id="duplicatas" class="font-bold">DUPLICATAS</h3>
    <section id="duplicatas">
        <div class="fatura">
            <p class="text-sm label">FATURA</p>
            {{#if duplicatas}}
            <p class="text-lg text-static">{{#each duplicatas}}Número: {{number}}, Vencimento: {{date}},
                Valor: {{value}};{{/each}}</p>
            {{/if}}
        </div>
    </section>
    
    <h3 id="calculo-imposto" class="font-bold">CÁLCULO DO IMPOSTO</h3>
    <section id="calculo-imposto">
        <div class="base-calculo-icms">
            <p class="text-sm label">BASE DE CÁLCULO DO ICMS</p>
            <p class="text-lg text-static-right">{{imposto.baseCalculo}}</p>
        </div>
        <div class="valor-icms">
            <p class="text-sm label">VALOR DO ICMS</p>
            <p class="text-lg text-static-right">{{imposto.valor}}</p>
        </div>
        <div class="base-calculo-icms-st">
            <p class="text-sm label">BASE DE CÁLCULO DO ICMS SUBSTITUIÇÃO</p>
            <p class="text-lg text-static-right">{{imposto.baseCalculoSubstituicao}}</p>
        </div>
        <div class="valor-icms-st">
            <p class="text-sm label">VALOR DO ICMS SUBSTITUIÇÃO</p>
            <p class="text-lg text-static-right">{{imposto.valorSubstituicao}}</p>
        </div>
        <div class="valor-total-dos-produtos">
            <p class="text-sm label">VALOR TOTAL DOS PRODUTOS</p>
            <p class="text-lg text-static-right">{{imposto.total}}</p>
        </div>
        <div class="valor-frete">
            <p class="text-sm label">VALOR DO FRETE</p>
            <p class="text-lg text-static-right">{{imposto.frete}}</p>
        </div>
        <div class="valor-seguro">
            <p class="text-sm label">VALOR DO SEGURO</p>
            <p class="text-lg text-static-right">{{imposto.seguro}}</p>
        </div>
        <div class="desconto">
            <p class="text-sm label">DESCONTO</p>
            <p class="text-lg text-static-right">{{imposto.desconto}}</p>
        </div>
        <div class="outras-despesas-acessorias">
            <p class="text-sm label">OUTRAS DESPESAS ACESSÓRIAS</p>
            <p class="text-lg text-static-right">{{imposto.outro}}</p>
        </div>
        <div class="valor-ipi">
            <p class="text-sm label">VALOR DO IPI</p>
            <p class="text-lg text-static-right">{{imposto.ipi}}</p>
        </div>
        <div class="valor-total-nota">
            <p class="text-sm label">VALOR TOTAL DA NOTA</p>
            <p class="text-lg text-static-right">{{nfe.total}}</p>
        </div>
    </section>

    <h3 id="transportador" class="font-bold">TRANSPORTADOR/VOLUMES TRANSPORTADOS</h3>
    <section id="transportador">
        <div class="razao-social">
            <p class="text-sm label">NOME/RAZÃO SOCIAL</p>
            <p class="text-lg text-static">{{emitente.nome}}</p>
        </div>
        <div class="frete-por-conta">
            <p class="text-sm label">FRETE POR CONTA</p>
            <p class="text-lg text-static">0 - REMETENTE</p>
        </div>
        <div class="codigo-antt">
            <p class="text-sm label">CÓDIGO ANTT</p>
            <p class="text-lg text-static">{{ANTT}}</p>
        </div>
        <div class="placa-veiculo">
            <p class="text-sm label">PLACA DO VEÍCULO</p>
            <p class="text-lg text-static">{{transportador.placa}}</p>
        </div>
        <div class="uf-veiculo">
            <p class="text-sm label">UF</p>
            <p class="text-lg text-static">{{transportador.uf}}</p>
        </div>
        <div class="cnpj-cpf">
            <p class="text-sm label">CNPJ/CPF</p>
            <p class="text-lg text-static">{{transportador.documento}}</p>
        </div>
        <div class="endereco">
            <p class="text-sm label">ENDEREÇO</p>
            <p class="text-lg text-static">{{emitente.endereco.logradouro}}</p>
        </div>
        <div class="municipio">
            <p class="text-sm label">MUNICÍPIO</p>
            <p class="text-lg text-static">{{emitente.endereco.municipio}}</p>
        </div>
        <div class="uf">
            <p class="text-sm label">UF</p>
            <p class="text-lg text-static">{{emitente.endereco.uf}}</p>
        </div>
        <div class="inscricao-estadual">
            <p class="text-sm label">INSCRIÇÃO ESTADUAL</p>
            <p class="text-lg text-static">{{emitente.ie}}</p>
        </div>
        <div class="quantidade-volumes">
            <p class="text-sm label">QUANTIDADE</p>
            <p class="text-lg text-static-right">{{transportador.produtos.quantidade}}</p>
        </div>
        <div class="especie">
            <p class="text-sm label">ESPÉCIE</p>
            <p class="text-lg text-static">{{transportador.produtos.especie}}</p>
        </div>
        <div class="marca">
            <p class="text-sm label">MARCA</p>
            <p class="text-lg text-static">{{transportador.produtos.marca}}</p>
        </div>
        <div class="numeracao">
            <p class="text-sm label">NUMERAÇÃO</p>
            <p class="text-lg text-static">{{transportador.produtos.numeracao}}</p>
        </div>
        <div class="peso-bruto">
            <p class="text-sm label">PESO BRUTO</p>
            <p class="text-lg text-static-right">{{transportador.produtos.peso.bruto}}</p>
        </div>
        <div class="peso-liquido">
            <p class="text-sm label">PESO LÍQUIDO</p>
            <p class="text-lg text-static-right">{{transportador.produtos.peso.liquido}}</p>
        </div>
    </section>

    <h3 id="dados-produtos" class="font-bold">DADOS DOS PRODUTOS/SERVIÇOS</h3>
    <section id="dados-produtos">
        <div class="quadro-dados-produtos-servicos"></div>
    </section>

    <h3 id="calculo-issqn" class="font-bold">CÁLCULO DO ISSQN</h3>
    <section id="calculo-issqn">
        <div class="inscricao-municipal">
            <p class="text-sm label">INSCRIÇÃO MUNICIPAL</p>
            <p class="text-lg text-static">{{issqn.id}}</p>
        </div>
        <div class="valor-total-servicos">
            <p class="text-sm label">VALOR TOTAL DOS SERVIÇOS</p>
            <p class="text-lg text-static">{{issqn.valor}}</p>
        </div>
        <div class="base-calculo-issqn">
            <p class="text-sm label">BASE CÁLCULO DO ISSQN</p>
            <p class="text-lg text-static">{{issqn.baseCalculo}}</p>
        </div>
        </div>
        <div class="valor-issqn">
            <p class="text-sm label">VALOR DO ISSQN</p>
            <p class="text-lg text-static">{{issqn.valor}}</p>
        </div>
    </section>

    <h3 id="dados-adicionais" class="font-bold">DADOS ADICIONAIS</h3>
    <section id="dados-adicionais">
        <div class="informacoes-complementares">
            <p class="text-sm label">INFORMAÇÕES COMPLEMENTARES</p>
            <p class="text-sm" style="margin-top: 20px;">{{extra}}</p>
        </div>
    </section>

    <section id="reservado-fisco">
        <div class="reservado-fisco">
            <p class="text-sm label">RESERVADO AO FISCO</p>
        </div>
    </section>
</body>
</html>
